body {
    font-family: 'Source Sans Pro', sans-serif;    
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1,5;
    letter-spacing: -.2px;
    text-transform: uppercase;
    color: white;
    margin: 100px 150px 70px 30px;
}
h1 strong{
    color: #5084a9;
}


.header{
    background-color: #0d060d;
    color: white;
    display: flex;
}

.header a{
    color: white;
    text-decoration: none;
    
}

.menu{
    

}

.hero{
    height: 300px;
    background-image: url('../Images/LogoReactOp.jpg');
    background-color: #000;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    }

.studies{
    background: #fafafa;
}

.training{
    border: 1px solid gray;
    border-radius: 20px;
    background: white;
    margin: 10px;
}

.training-entity    {
    font-style: italic;
}

.profile-description{
    width: 500px;
}

.experience{
 border: 1px solid gray;
 border-radius: 20px;
 padding: 20px;
 margin: 10px;
 margin-bottom: 15px;
 background: white;
 display: flex;
 justify-content: space-between;
}    

.experience-details {
    width: 500px;
}

.experience-imagecontainer{
    width: 500px;
}

.portfolio{
    background: #fafafa;
}



