body {
    font-family: 'Source Sans Pro', sans-serif;    
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    margin: 0;
}

h1{
    font-size: 40px;
    line-height: 1,5;
    letter-spacing: -.2px;
    text-transform: uppercase;
    color: white;
    margin: 0;
}
h1 strong{
    color: #5084a9;
}

h2 {
    color: #5084a9;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;  
    font-weight: bold;
    font-size: 20px;
}

ol,
ul{
    list-style: none;
}

figure{
margin: 0;
}

.header{
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header a{
    color: white;
    text-decoration: none;  
    height: inherit;
    display: flex;
    align-items: center;
    padding: 20px;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.menu-list{
    margin: 0;
    padding: 0;
}
.hero{
    height: 280px;
    /* background-image: url('../Images/LogoReactOp.jpg'); */
    background-color: #000;
/*     background-size: 500px 300px; */
/*     background-repeat: no-repeat; */
    background-position-x: right;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    justify-content: space-between;
}

.hero-image{
    object-fit: cover;
}

.studies{
    background: #fafafa;
}

.studies-title{
    padding: 20px;
}

.studies-list{
    list-style-type: disc;
}

.training{
    border: 1px solid gray;
    border-radius: 20px;
    background: white;
    margin: 10px;
    margin-bottom: 0;
}

.training-details a{
    padding-left: 10px;
}

.training-entity    {
    font-style: italic;
}

.profile{
    background: #fafafa;
}

.profile-title{
    padding: 20px;
}

.profile-image{
    margin: 20px;

}

.profile-description{
    width: 700px;
    margin: 20px;
    text-align: justify;
}

.profile-parts{
    border: 1px solid gray;
    border-radius: 20px;
    background: white;
    margin: 10px;
    margin-bottom: 0;
    padding: 20px;
    display: flex;
}

.experience{
 border: 1px solid gray;
 border-radius: 20px;
 padding: 20px;
 margin: 10px;
 margin-bottom: 0px;
 background: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
} 

.experience-title{
    padding: 20px;
}

.experience-details {
    width: 800px;
}

.experience-entity {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;

}

.experience-imagecontainer{
    width: 400px;
    padding: 10px;
}

.experience-description,
.experience-url{
    margin: 5px;
    text-align: justify;
}
.experience-date{
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}

.portfolio{
    background: #fafafa;
}

.portfolio-title{
    padding: 20px;
}

.contact{
background-color: #006792;
color: white;
height: 150px;
display: flex;
align-items: center;
justify-content: space-between;
}

.contact-form input{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 25px 10px 25px;
    background-image: url(../Images/envelope.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x: 5px;
}

.contact-form button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    width: 100px;
    border-color: white;
    border-radius: 5px;
    margin-top: 10px;

}

.contact-form h3{
    font-family: 'Source Sans Pro', sans-serif;    
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url('../Images/twitter.svg');
}

.social-link.facebook{
    background-image: url('../Images/facebook.svg');   
}

.social-link.github{
    background-image: url('../Images/github.svg');
}

.social-link.instagram{
    background-image: url('../Images/instagram.svg');
}

.footer{
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer img{
    vertical-align: middle;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 320px){
}